/* Mobile and Tablet */
@media (max-width: 1023px) {
    .hidden-on-mobile-tablet {
        display: none;
    }
    .grid__row--col-10 {
        width: 100%;

    }
    :root {
    --main__header-height:66px;
    --nav-height:0;
    }
    .header-with-search__cart-list {
        position: fixed;
        top: var(--main__header-height);
        left: 0;
        right: 0;
    }
    .header-with-search__search {
        flex:1;
    }
    .header-with-search {
        display: flex;
        align-items: center;
    }
    .cart-info::after {
        content: "";
        position: absolute;
        top: 11px;
        width: 137%;
        height: 53px;
        background-color: transparent;
        left: -12px;
    }
    .cart-info::before {
        display: none;
    }
    .header-with-search__cart-wrap:hover .cart-info::before {
        display: none;
    }
    .header-with-search__cart-list {
        padding: 0 16px;
    }
    .main__header {
        position: fixed;
        top: 0;
        left: 0;
        right: 0;
        z-index: 10;
        align-items: center;
    }
    .main__container {
        margin-top: calc(var(--main__header-height) + 48px);
    }
    .header-with-search__cart-item-remove {
        display: none;
    }
    .remove-icon-link {
        display: block;
    }
    .main__header-sort-bar {
        display: flex;
    }
    .nav-mobile-tablet {
        display: block;
    }
    .grid.wide.main__footer-wrap {
        border-top: none;
    }
    
}
.hidden-all {
    display: none;
}
/* Tablet */
@media (min-width: 740px) and (max-width: 1023px) {
    .hidden-on-tablet {
        display: none;
    }
    .header-with-search__cart {
        margin-left: 32px;
    }
    .header-with-search {
        margin-top: 0;
        padding: 0;
        height: 100%;
        margin-top: 5px;
    }
    .header-with-search-option__list {
        z-index: 10;
    }
    .header-with-search__cart {
        margin-right: 0;

    }
    .cart-info {
        padding-left: 4px;
    }
    .cart-info__quantity {
        top: 6px;
        right: 4px;
    }
    .header-with-search__logo {
        width: 110px;
        margin-top: 18px;
    }
}
/* Mobile */

@media (max-width:739px) {
    .hidden-on-mobile {
        display: none;
    }
    .mobile-search,
    .mobile-menu {
    display: block;
    }
    .main__header {
        display:flex;
    }
    .header-with-search {
        display: flex;
       justify-content: space-between;
       z-index: 0;

    }
    .header-with-search__cart{
        margin: 0 8px;
    }
    .mobile-menu-search {
        margin: 0 14px;

    }
    .header-with-search__logo {
        margin-right: 0;
        margin-bottom: 0;
    }
    .header-with-search__cart-wrap {
        top: 4px;
    }
    .mobile-menu-search {
        position: relative;
        top: 2px;
    }
    .mobile-check-input:checked ~ .header-with-search__search--mobile {
        display: flex;
    }
    
    .header-with-search__search-history {
        top: 120%;
        box-shadow: 2px 2px 4px rgba(0,0,0,0.1);
    }
    .header-with-search-option__item{
        margin-left: 8px;
    }
    .header-with-search-option__item i {
        padding: 0 0 0 8px;
    }
    .header-with-search-option {
        width: 128px;
        top:220%;
    }
   .header-with-search__cart-list {
    z-index: 10000;
   }
   .header-with-search__search--mobile {
    z-index: 100;
   }
  .mobile-nav-btn {
    display: block;
  }
  .home-product {
    margin: 0 8px;
  }
  .pagination-list__item {
    margin: 0 2px;
  }
  .pagination-list__item-link {
    min-width: 36px;
  }
  .mobile-menu-icon {
    display: inline-block !important;
  }
  .header-with-search__logo {
    margin-bottom: -12px;
    width: 110px;
  }
  .main__footer-wrap {
    padding: 0 16px;
  }
.main__header {
    height:54px;
}
.footer__heading,.footer-list__item-link {
    text-align: center;
}
.footer-dowload  {
    display: flex;
    justify-content: center;
    width: 100%;
    flex-direction: column;
}
.footer-qr {
    display: flex;
    justify-content: center;
}
.footer-list__item-link {
    padding: 5px 0;
}
.main__header-sort-bar {
    top:54px;
}

.main__container {
    margin-top: calc(54px + 48px);
}
.header-with-search__search--mobile {
    top: 54px;
}
}